body{
background-color:black
}



h2{
text-align:center;
color:white

}

form{
text-align:center
}
input{
background-color:transparent;
color:white;
padding:8px;
width:50%;
margin-bottom:10px;




}
button{
padding:10px;
width:8%;
margin-top:20px;
background-color:blue;
color:white;
}