body {
        font-family: 'Arial', sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
     }

h2 {
     background-color: #333;
     color: #fff;
     padding: 10px;
     text-align: center;
   }

form {
       background-color: #fff;
       padding: 20px;
       margin: 20px auto;
       width: 80%;
       max-width: 600px;
       border-radius: 8px;
       box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
     }

label {
        display: block;
        margin-bottom: 8px;
         font-weight: bold;
       }

input[type="checkbox"] {
     margin-right: 5px;
 }

input[type="text"], input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="button"], button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left:3px;
}

 input[type="button"]:hover, button:hover {
    background-color: #45a049;
}

table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
}

th, td {
         border: 1px solid #ddd;
         padding: 10px;
         text-align: left;
}

th {
        background-color: #4caf50;
        color: #fff;
}

p {
        color: #888;
        margin-top: 20px;
        display: none;
}        

#noResults {
     display: block;
}