body{
text-align:center;



}
button{
padding:10px;
width:8%;
margin-top:20px;
background-color:blue;
color:white;
}
input{
background-color:transparent;
padding:8px;
width:50%;
margin-bottom:10px;

}

table
{
	margin:auto;
}

