<!DocType html>
<html>
	<head>
	<title>Delete by ID</title>
	</head>
	
	<h2>Delete by ID</h2>
	
	<form>
        <label for="id">Enter ID:</label>
        <input type="text" name="id" id="id">
        <input type="button" value="Delete" onclick="deleteByID()">
    </form>
    
    <div id="result"> </div>
    
    <script>
    	
    	function deleteByID()
    	{
    		const xmlhttp = new XMLHttpRequest();
    		id = document.getElementById("id").value
    		console.log(id)
    		xmlhttp.onload = function() {
    		document.getElementById("result").innerHTML = this.responseText;
    		   }
    		xmlhttp.open("DELETE", "/students/deleteById/"+id, true);
    		xmlhttp.send();
    	}
    </script>
</html>